/*
 Color palettte can be found here: src=(http://paletton.com/#uid=13t0u0kl1Wx1x+IcEXDsUWkWEVB) Many thanks to the awesome color source from Czechoslovakia, paletton.com */


.section {
  width: 100%;
}

.flex {
  display: flex;
}

.banner {
  width: 60%;
}
